#menubar-parent{
  margin-top: 2%;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #menubar-parent {
      margin-left: 15%;
      margin-right: 15%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    #menubar-parent {
      margin-left: 15%;
      margin-right: 15%;
    }
}

#menubar-parent button{
  color: rgb(117,15,247);
  margin-bottom: 20px;
  border: 1px solid rgb(117,15,247);
}

#menubar-parent h1 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(117,15,247);
}

#menubar-parent p {
  font-size: 15px;
  font-weight: 400;
}

#menubar-parent #resume-button {
  font-size: 15px;
  color: rgb(117,15,247);
  border: 1px solid rgb(117,15,247);
  border-radius: 10px;
  font-weight: 400;
  height: 30px;
  background: white;
  transition-duration: 0.4s;
}
#menubar-parent #resume-button:hover {
  background: rgb(117,15,247);
  color: white;
}

.myReact-icons {
  color: black;
  font-size: 30px;
}

.justify-content-end{
  margin-bottom: 15px;
}

.justify-content-end #work-link{
  margin-top: 2px;
}

.justify-content-end .nav-link{
  margin-left: 15px;
}
