#statement-parent{
  padding-top: 7%;
  padding-bottom: 12%;
}

#statement-parent #statement-container{
    display: grid;
    place-content: center;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

#statement-parent #statement-container .typing-container{
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    font-size: 2.7em;
    font-weight: 600;
    font-family: 'Rubik';
}

#statement-parent .typing-container{
  padding-top: 11%;
  color: white;
}

#statement-parent .typing-container h1{
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease forwards;
  font-weight: 600;
  font-size: 1.2em;
}


#statement-parent p{
  width:100%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10%;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 35px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 3s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
