#statement-parent{
  padding-top: 7%;
  padding-bottom: 12%;
}

#statement-parent #statement-container{
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

#statement-parent h1{
  color: white;
}

#statement-parent p{
  width:100%;
  color: white;
  padding-top: 10px;
  padding-bottom: 2%;
  font-weight: 400;
  line-height: 35px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 11.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
