#statement-parent{
  padding-top: 7%;
  padding-bottom: 12%;
}

@media screen
  and (min-device-width: 100px)
  and (max-device-width: 1000px){
    #statement-parent {
      padding-top: 20%;
      padding-bottom: 30%;
    }
}

#statement-parent #statement-container{
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 2000px){
    #statement-parent #statement-container{
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }
}

#statement-parent h1{
  color: white;
}

#statement-parent p{
  width:100%;
  color: white;
  padding-top: 10px;
  font-weight: 400;
  line-height: 35px;
}
