#academiccard2-parent {
  padding-top: 0%;
  padding-bottom: 2%;
}

#academiccard2-parent .card {
  margin-top: 3%;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  height: auto;
}
