#footerbar-parent{
  padding-bottom: 3%;
  padding-top: 3%;
}

#footerbar-parent .footer-container{
  text-align: center;
}

#footerbar-parent #footer-title{
  color: black;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 1%;
}

#footerbar-parent a{
  color: rgb(115,116,145);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
}


.myReact-icons {
  color: rgb(115,116,145);
  font-size: 30px;
}

.justify-content-end{
  margin-bottom: 15px;
}
