#aboutmecard-parent {
  padding-top: 0%;
  padding-bottom: 5%;
}

#aboutmecard-parent .card {
  margin-top: 3%;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

li:before {
    content: "»";
    display: block;
    float: left;
    width: 1.2em;
    color: black;
}
