.aboutme-container{
  background: rgb(246,249,252);
}

.aboutme-container h1 {
  padding-top: 3.5rem;
  margin-bottom: 2vw;
  font-size: 1.8em;
  text-align: center;
  color: #1221ff;
}

.aboutme-container h1 span {
 background-size:  100% 15%;
 background-repeat: repeat-x;
 background-position: left 0% bottom 10%;
}

.title {
  background-image: linear-gradient(120deg, #fad0c4 0%, #f1a7f1 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  }

.title:hover {
    background-size: 100% 88%;
  }

.imageContainer {
    display: flex;
    justify-content: center;
}

.aboutme-container img{
    margin-top: 1%;
    margin-bottom: 4%;
    text-align: center;
    width: auto;
    height: 500px;
    object-fit: contain;
    object-position: middle;
  }
