.intro-container{
  position: relative;
  background-color: #fff;
  background-image:
    radial-gradient(at top left, #1221ff, transparent),
    radial-gradient(at top right, #8890FF, transparent),
    radial-gradient(at bottom left, #B3588A, transparent);
  background-size: 100% 100%;
}

.custom-shape-divider-bottom-1629183601 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629183601 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 47px;
}

.custom-shape-divider-bottom-1629183601 .shape-fill {
    fill: rgb(246,249,252);
}
