.professional-container{
  background: white;
}

.professional-container h1 {
  padding-top: 3.5rem;
  margin-bottom: 3vw;
  font-size: 1.8em;
  text-align: center;
  color: #1221ff;
}

.professional-container h1 span {
 background-size:  100% 15%;
 background-repeat: repeat-x;
 background-position: left 0% bottom 10%;
}
