.menubar-parent{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(248,248,248);
}

.menubar-parent.active {
  background: white;
  border-bottom: 1px solid black;
}

.menubar-parent button{
  color: transparent;
  background: transparent;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.4s;
}
.menubar-parent .navbarbrand-h1 {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
@media only screen and (min-width: 991px) {
  .menubar-parent .navbarbrand-h1 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 2s ease 4.5s forwards;
  }
}
.menubar-parent .navbarbrand-h1.active {
  color: black;
}

.menubar-parent .navbarbrand-p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
@media only screen and (min-width: 991px) {
  .menubar-parent .navbarbrand-p {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 2s ease 4.5s forwards;
  }
}
.menubar-parent .navbarbrand-p.active {
  color: black;
}

.menubar-parent #menubar-link-container {
  margin-top: 3px;
}

.menubar-parent #menubar-link-container .menubar-link {
  font-size: 15px;
  font-weight: 400;
  color: rgb(90,90,90);
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: -0px;
  transition-duration: 0.4s;
}
.menubar-parent #menubar-link-container .menubar-link:hover {
  color: black;
}
.menubar-parent #menubar-link-container .menubar-link.active {
  color: rgb(90,90,90);
}
.menubar-parent #menubar-link-container .menubar-link.active:hover {
  color: black;
}

.nav-about, .nav-academic, .nav-prof,
.nav-teamwork, .nav-research, .nav-resume{
  opacity: 1;
}

@media only screen and (min-width: 991px) {
  .nav-about{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 4.5s forwards;
  }
  .nav-academic{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 4.7s forwards;
  }
  .nav-prof{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 4.8s forwards;
  }
  .nav-teamwork{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 5s forwards;
  }
  .nav-research{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 5.2s forwards;
  }
  .nav-resume{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease 5.4s forwards;
  }
}

.menubar-parent .resume-button {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  font-weight: 400;
  height: 30px;
  transition-duration: 0.4s;
}
.menubar-parent .resume-button.active {
  color: black;
  border: 1px solid black;
}
.menubar-parent .resume-button.active:hover {
  background: black;
  color: white;
}
.menubar-parent .resume-button:hover {
  background: black;
  color: white;
}

.justify-content-end .nav-link{
  margin-left: 15px;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
