.menubar-parent{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  background-image:
    radial-gradient(at top left, #1221ff, transparent),
    radial-gradient(at top right, #8890FF, transparent),
    radial-gradient(at bottom left, #1221ff, transparent),
    radial-gradient(at bottom right, #8890FF, transparent);
  background-size: 100% 100%;
}

.menubar-parent.active {
  background: white;
  border-bottom: 0.1px solid #ccc;
}

.menubar-parent button{
  color: transparent;
  background: transparent;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.4s;
}
.menubar-parent .navbarbrand-h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.menubar-parent .navbarbrand-h1.active {
  color: black;
}

.menubar-parent .navbarbrand-p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.menubar-parent .navbarbrand-p.active {
  color: black;
}

.menubar-parent #menubar-link-container {
  margin-top: 3px;
}

.menubar-parent #menubar-link-container .menubar-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: -0px;
  transition-duration: 0.4s;
}
.menubar-parent #menubar-link-container .menubar-link:hover {
  color: rgb(	194, 210, 255);
}

.menubar-parent #menubar-link-container .menubar-link.active {
  color: black;
}

.menubar-parent .resume-button {
  font-size: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 400;
  height: 30px;
  background: transparent;
  transition-duration: 0.4s;
}
.menubar-parent .resume-button.active {
  color: black;
  border: 1px solid black;
}
.menubar-parent .resume-button.active:hover {
  background: #7C336C;
  color: white;
}
.menubar-parent .resume-button:hover {
  background: rgb(235,235,235);
  color: black;
}

.justify-content-end .nav-link{
  margin-left: 15px;
}
