.menubar-parent{
  top: 0;
  z-index: 1;
}

.menubar-parent button{
  color: transparent;
  background: transparent;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.4s;
}
.menubar-parent .navbarbrand-h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.menubar-parent .navbarbrand-p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}


.menubar-parent #menubar-link-container {
  margin-top: 3px;
}

.menubar-parent #menubar-link-container .menubar-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: -0px;
  transition-duration: 0.4s;
}

.nav-about{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 0.5s ease forwards;
}
.nav-academic{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 0.65s ease forwards;
}
.nav-prof{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 0.90s ease forwards;
}
.nav-teamwork{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.05s ease forwards;
}
.nav-research{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.2s ease forwards;
}
.nav-resume{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.35s ease forwards;
}

.menubar-parent #menubar-link-container .menubar-link:hover {
  color: rgb(	194, 210, 255);
}

.menubar-parent .resume-button {
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  height: 30px;
  transition-duration: 0.4s;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
}

.menubar-parent .resume-button:hover {
  background: rgb(235,235,235);
  color: black;
}

.justify-content-end .nav-link{
  margin-left: 15px;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
