#aboutme-parent{
  margin-top: 3%;
  padding-bottom: 10%;
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #aboutme-parent {
      margin-left: 15%;
      margin-right: 15%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    #aboutme-parent {
      margin-left: 15%;
      margin-right: 15%;
    }
}

#aboutme-parent h1{
  color: white;
}


#aboutme-parent p{
  width:100%;
  color: white;
  padding-top: 10px;
  font-weight: 400;
  line-height: 35px;
}
